<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <app-counter [counter] = "counter"></app-counter>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a routerLink="" [class.selected]="filter == ''">All</a>
    </li>
    <li>
      <a routerLink="/pending" [class.selected]="filter == 'pending'">Pending</a>
    </li>
    <li>
      <a routerLink="/completed" [class.selected]="filter == 'completed'">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button *ngIf="anyComplete" class="clear-completed" (click)="clearCompleted()" >Clear completed</button>
</footer>